[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 25565
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Paper server"

[[workflows.workflow]]
name = "Paper server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && java -Xms512M -Xmx1G -jar paper.jar nogui"

[workflows.workflow.metadata]
outputType = "console"
